*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: 'Dosis';
}

@font-face {
    font-family: 'Dosis';
    src: url('C:/Users/NikhilParmar/OneDrive - Infosense Pvt Ltd/Desktop/demo/fonts/Dosis-Regular.woff2') format('woff2'),
        url('C:/Users/NikhilParmar/OneDrive - Infosense Pvt Ltd/Desktop/demo/fonts/Dosis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dosis-Bold';
    src: url('C:/Users/NikhilParmar/OneDrive - Infosense Pvt Ltd/Desktop/demo/fonts/Dosis-Bold.woff2') format('woff2'),
        url('C:/Users/NikhilParmar/OneDrive - Infosense Pvt Ltd/Desktop/demo/fonts/Dosis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



header{
background-color: #ECB365;
z-index: 555;
width: 100%;
}
body{
    background-color: whitesmoke;
}

.container{
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
}

.logo{
    display: inline-block;
    padding: 10px 0;
    font-family: 'Dosis-bold';
}

.container a{
    float: left;
    color: red;
    font-size: 20px;
}

.container ul{  
    float:right;
}

.container ul li{
    float:left;
    padding: 10px 20px;
}

.container ul a{
    color: black;
}

.container ul a:hover{
    color: red;
}
.container .header-content{
    display: table;
    width: 100%;
    padding: 10px 10px;
}

::-webkit-scrollbar {
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }

.banner-section{
    position: relative;
    text-align: center;
    height: 100vh;
    /* height: calc(100vh - 63px); */
}

.banner-content{
position: absolute;
left: 0;
right: 0;
top: 50%;
margin-top: -84px;
}

.banner-content h2{
    text-transform: uppercase;
    max-width: 300px;
    font-family: 'Dosis';
    margin: 0 auto;
}

.banner-content h2,p{
    margin-bottom: 15px;
}

.banner-section .btn{
    display: inline-block;
    color: white;
    background: #dd356e;
    padding: 10px 20px;
    border-radius: 20px;
}

a{
    color: #dd356e;
}
a:hover{
    color: #a00639;
}

.banner-section .btn:hover{
    cursor: pointer;
    background: #a00639;
    color: white;
}

.projects{
    max-width: 100%;
    height: 100vh;
    /* height: calc(100vh - 63px); */
    position: relative;
    display: flex;
    gap: 40px;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-left: 30px; 
    padding-right: 30px;
}
  
.projects .card{
    width: 230px;
    padding: 20px;
    height: 250px;
    flex: none;
    position: relative;
    background-color: white;
    border-radius: 5px;
}

.card h2, button{
    position: absolute;
    z-index: 200;
}

.a{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.a:hover{
    position: absolute;
    background-color:#ECB365;
    transition: all 1s;
    width: 100%;
    height: 100%;
}



@media (max-width:500px){
    a{
        width: 100%;
    }
 
    li{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid white;
    }
    
    .container .projects{
        width: 100%;
        height: 80vh;
    }
    
    .container .projects .card{
        width: 100%;
    }

    .banner-section .btn{
        width: 40%;
        margin-bottom: 10px;
    }

}